<header id="site-header">
    <div class="header-container">
        <div class="brand">
            <a href="/index.html" class="logo">
                <img src="/assets/img/logo_no_bg_web.webp" alt="Logo Héroes del Nexo" width="40" height="40"  decoding="async"
                fetchpriority="high"
                />
            </a>

            <button class="menu-toggle" aria-controls="main-nav" aria-expanded="false" aria-label="Abrir menú">
                <span class="menu-icon" aria-hidden="true"></span>
            </button>
        </div>

        <nav id="main-nav" class="nav" aria-label="Navegación principal">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/pages/heroes-list.html">Héroes</a></li>
                <li><a href="/pages/heroes-details.html">Detalles</a></li>
                <li><a href="/pages/heroes-stats.html">Estadísticas</a></li>
                <li class="cta">
                    <a href="https://heroesofthestorm.blizzard.com/es-mx/" target="_blank" rel="noopener noreferrer"
                        class="external-link">Sitio Oficial ↗</a>
                </li>
            </ul>
        </nav>

        <div class="header-actions">
            <a href="https://heroesofthestorm.blizzard.com/es-mx/" target="_blank" rel="noopener noreferrer"
                class="external-link">Sitio Oficial ↗</a>

            <a href="/pages/login.html" class="login-icon" aria-label="Iniciar sesión">
                <svg width="22" height="22" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                    <circle cx="12" cy="8" r="4" stroke="currentColor" stroke-width="2"></circle>
                    <path d="M4 20c0-4.418 3.582-8 8-8s8 3.582 8 8" stroke="currentColor" stroke-width="2" fill="none">
                    </path>
                </svg>
                Tu cuenta
            </a>
        </div>
    </div>
</header>