html,
body {
    height: 100%;
}

/* background */
body {
    margin: 0;
    color: #fff;
    background: #0b032d;
}

/* tje backgorund fills all the screen and no clicks*/
#stars {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

 